<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <add key="ApiKey" value="INSERT_API_KEY" />
   <add key="ClientSecret" value="INSERT_CLIENT_SECRET" />
   <add key="ClientID" value="INSERT_CLIENT_ID" />
    <add key="BaseUrl" value="https://sandbox.clearsale.com.br" />
    <add key="AnalysisLocation" value="USA"/>
  </appSettings>
</configuration>

		